:root{
    /* Couleurs principales */
    --couleur-brun: #B39982;
    --couleur-brun-rgb: 179, 153, 130;
    --couleur-brun-fonce: #221B14;
    --couleur-brun-fonce-rgb: 34, 27, 20;
    --couleur-vert: #76A883;
    --couleur-vert-rgb: 118, 168, 131;
    /* Couleurs secondaires */
    --couleur-rouge: #FF2C2C;
    --couleur-rouge-rgb: 255, 44, 44;
    --couleur-rouge-shadow-rgb: rgb(255, 44, 44, 0.1);
    --couleur-bleu: #003C68;
    --couleur-bleu-rgb: 0, 60, 104;
    /* Couleurs d'accents */
    --couleur-vert-accent: #25C54A;
    --couleur-vert-accent-rgb: 37, 197, 74;
    /*BS*/
    --bs-body-font-family : "Alegreya Sans", sans-serif;
    --bs-primary: var(--couleur-brun-fonce);
    --bs-primary-rgb: var(--couleur-brun-fonce-rgb);
    --bs-primary-bg-subtle: var(--couleur-brun);
    --bs-primary-bg-subtle-rgb: var(--couleur-brun-rgb);
    --bs-secondary: var(--couleur-vert);
    --bs-secondary-rgb: var(--couleur-vert-rgb);
    --bs-body-color: white;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-info: var(--couleur-vert-accent);
    --bs-info-rgb: var(--couleur-vert-accent-rgb);
    --bs-border-color: var(--couleur-brun);
}
/*BS*/
.carousel-control-next-icon {
    background-image: url(../media-files/icones/icon-arrow-right-full.png);
    transition: 0.2s;
    &:hover{
        transform: scale(2.5);
    }
}
.carousel-control-prev-icon {
    background-image: url(../media-files/icones/icon-arrow-left-full.png);
    transition: 0.2s;
    &:hover{
        transform: scale(2.5);
    }
}
.display-6{
    font-family: "Alegreya", serif;
}
.card-img-top {
    min-height: 240px;
    height: 35vh;
    object-fit: cover;
}


/*Titres*/
h1{
    font-family: "Zen Antique Soft", serif;
    font-size: 48px;
}
h2{
    font-family: "Zen Antique Soft", serif;
    font-size: 32px;
}
h3{
    font-family: "Zen Antique Soft", serif;
    font-size: 26px;
}
.titre-decoratif{
    font-family: "Parisienne";
    font-size: 48px;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 20px black;
}
p{
    font-size: 20px;
}
.p-accent{
    color: var(--couleur-vert-accent);
}
.btn-primary{
    --bs-btn-bg : var(--couleur-vert);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--couleur-bleu);
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-active-bg : var(--couleur-vert);
    --bs-btn-active-border-color: var(--bs-body-color);
}
.btn-secondary{
    --bs-btn-bg : var(--couleur-bleu);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--couleur-vert);
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-active-bg : var(--couleur-bleu);
    --bs-btn-active-border-color: var(--bs-body-color);
}
.card{
    --bs-card-bg: var(--couleur-brun-fonce);
}
/*---------------------------------------------------------------------------------------*/
.header__logo{
    transition: transform 0.3s;
    &:hover{
    transform: scale(1.05);
    }
}
footer{
    background-image: url("../media-files/banner-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__icon-socials{
    height: 3vh;
}
.accueil__image-carrousel{
    height: 80vh;
    object-fit: cover;
    
}
.carrousel__titre-annonce{
    transition: 0.4s;
    &:hover{
        transform: scale(1.25);
    }
}
.border-shadow{
    box-shadow: 0px 0px 20px 10px var(--couleur-rouge-shadow-rgb);
}
/*Background images sections*/
.banner-nos-produits{
    background-image: url(../media-files/nos-produits/banner-produits.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.banner-autocueillette{
    background-image: url(../media-files/autocueillette/banner-autocueillette.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.banner-produits-section{
    background-image: url(../media-files/nos-produits/banner-produits-section.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 45vh;
    width: 100%
}
.banner-produits-section--accueil{
    background-image: url(../media-files/nos-produits/banner-produits.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%
}
.banner-planifier-votre-visite{
    background-image: url(../media-files/planifier-votre-visite/banner-planifier-votre-visite.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.banner-oasis{
    background-image: url(../media-files/accueil/banner-oasis.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%
}
/*---------------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
    .header__nav-title{
        font-size: 1rem !important;
    }
}
@media (max-width: 768px){
    h1{
    font-family: "Zen Antique Soft", serif;
    font-size: 32px;
    }
    h2{
        font-family: "Zen Antique Soft", serif;
        font-size: 27px;
    }
    h3{
        font-family: "Zen Antique Soft", serif;
        font-size: 18px;
    }
    .titre-decoratif{
    font-size: 34px;
    }
    p{
        font-size: 16px;
    }
    .accueil__image-carrousel{
    height: 40vh;
    }
    .banner-nos-produits{
    height: 40vh;
    }
    .banner-planifier-votre-visite{
    height: 40vh;
    }
    .card-img-top {
    height: 25vh;
    object-fit: contain;
    }

}